<div class="admin_title">

<h2>Dashboard | Posts</h2>

<a href="/add-post" class="btn btn-add"> Add New &#11208;</a>
</div>

<ul class="admin_posts">

    <% data.forEach(post => { %>
     
        <li>
            <a href="/post/<%= post._id %>"> <%= post.title %> &nearhk; 
            </a>
            
            <div class="admin_post_controls">
                <a href="/edit-post/<%= post._id %>" class="btn btn-edit">Edit</a>
               
                <form action="/delete-post/<%= post._id %>?_method=DELETE" method="post" class="">
                    <input type="submit" value="Delete" class="btn btn-delete">
                </form>
            </div>
        </li>

    <% }) %>

</ul>