<main class="main">
    <div class="author">
        <h1 class="author_heading">
            Hi, this is Musa.
        </h1>
        <p class="author_body">
            Web developer and enthusiast
        </p>
    </div>

    <img src="/img/hero-image.jpg" alt="person looking out" class="hero_image" width="50%" height="50%">

</main>



<section class="articles">
    <h2 class="articles_heading">
        Latest Posts
    </h2>

    <ul class="article_ul">

        <% data.forEach(post => { %>    
            <li>
                <a href="#" class="">
                    <span class="title"> <%= post.title %> </span>
                    <span class="article_list_date"> <%= post.createdAt.toDateString() %> </span>
                </a>
            </li>
        <% }) %>

    </ul>

    <% if (nextPage !== null) { %> 
        <a href="/?page=<%= nextPage %> " class="pagination">&lt; View Older Posts</a>
    <% } %>

</section>